<li class="micropost-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: Settings.gravatar.index_size),
    post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="post-content", data-id="<%= post.id %>">
    <h3><%= link_to post.title, post %></h3>
    <p><%= sanitize post.content %></p>
    <% if post.pictures? %>
      <%= image_tag post.pictures.url, width: Settings.gravatar.post_show_size %>
    <% end %>
  </span>
  <div class="timestamp col-md-offset-3">
    <%= post.created_at %>
    <span class = "number-comments">
      <%= render "comments/number_comments", post: post%>
    </span>
    <% if current_user && current_user.current_user?(post.user) %>
      <button class="btn btn-link" data-toggle="modal" data-target="#post-<%= post.id %>">Edit</button>
      <%= render "posts/edit", post: post %>
      <%= link_to t(".delete"), post, method: :delete, remote: true,
        data: {confirm: t(".sure")} %>
    <% end %>
  </div>
  <span class="list-comments-<%= post.id %>">
    <%= render post.comments.last(3), post: post %>
  </span>
  <%= render "comments/comment_form", post: post, comment: @comment %>
</li>
