<div id="comment-<%= comment.id %>" class = "col-md-offset-1 comment">
  <%= link_to gravatar_for(comment.user, size: Settings.gravatar.index_size), comment.user %>
  <span class="user"><%= link_to comment.user.name, comment.user %></span>
  <span class="content-comment", data-id = "<%= comment.id %>">
    <p><%= comment.content %></p>
  </span>
  <span class="timestamp col-md-offset-2">
    <%= comment.created_at %>
    <% if current_user && current_user.current_user?(comment.user) %>
      <%= link_to t(".edit"), edit_post_comment_path(post, comment), remote: true %> |
      <%= link_to t(".delete"), post_comment_path(post, comment), method: :delete,
        data: {confirm: t(".sure")}, remote: true, class: "user-delete" %>
    <% end %>
  </span>
</div>
