<%= form_for comment, url: post_comments_path(post, comment), remote: true do |f| %>
  <%= f.hidden_field :post_id, value: post.id %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field col-md-offset-1">
    <%= f.text_field :content,placeholder: t("comments.comment_form.placeholder"),
      class: "form-control"%>
    <div class="col-md-offset-9">
      <%= f.submit t(".comment"), class: "btn btn-primary submit-comment" %>
    </div>
  </div>
<% end %>
