<footer class="footer">
  <small>
    <%= t ".the" %><a href="http://www.railstutorial.org/"><%= t ".title" %></a>
    <%= t ".by" %><a href="http://www.michaelhartl.com/"><%= t ".author" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), "/static_pages/about" %></li>
      <li><%= link_to t(".contact"), "/static_pages/contact" %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".news" %></a></li>
    </ul>
  </nav>
</footer>
