<% provide :title, t(".about") %>
<h1><%= t ".about" %></h1>
<p>
  <%= t ".the" %><a href="http://www.railstutorial.org/"><em><%= t ".title" %></em>
  </a><%= t ".is_a" %>
  <a href="http://www.railstutorial.org/book"><%= t ".book" %></a><%= t ".and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".series" %></a>
  <%= t ".teach" %>
  <a href="http://rubyonrails.org/"><%= t ".ror" %></a><%= t ".intro" %>
</p>
